<h1 mat-dialog-title>{{!isEdditing ? 'Añadir nuevo' : 'Editar'}} Producto</h1>
<div mat-dialog-content>
    <form [formGroup]="productoForm">
        <div class="form-group">
            <mat-form-field class="col-12">
                <mat-label>Nombre</mat-label>
                <input matInput type="text" formControlName="nombre">
                <mat-error *ngIf="productoForm.get('nombre').hasError('required')">
                    Campo <strong>requerido</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="col-12">
                <mat-label>Descripción</mat-label>
                <input matInput type="text" formControlName="descripcion">
                <mat-error *ngIf="productoForm.get('descripcion').hasError('required')">
                    Campo <strong>requerido</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="col-12">
                <mat-label>Precio</mat-label>
                <input matInput type="number" min="1" step="any" formControlName="precio">
                <mat-error *ngIf="productoForm.get('precio').hasError('required')">
                    Campo <strong>requerido</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <div class="text-center file-upload">
                <label class="fileContainer">
                    Haga click aquí para añadir una foto
                    <input type="file" accept="image/*" (change)="showPreview($event)" class="inputFile">
                </label>
                <div class="imagePreview text-center" *ngIf="imageURL && imageURL !== ''">
                    <img [src]="imageURL">
                    <a class="remove-image" (click)="removeImage()" style="display: inline;">&#215;</a>
                </div>
            </div>
        </div>

    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()" cdkFocusInitial>Cancelar</button>
    <button mat-button [mat-dialog-close]="productoForm" [disabled]="!productoForm.valid">Guardar</button>
</div>