<h1 mat-dialog-title>{{!isEdditing ? 'Añadir nuevo' : 'Editar'}} Tipo de usuario</h1>
<div mat-dialog-content>
    <form #permisosForm="ngForm">
        <div class="form-group" >
            <mat-label>Permisos</mat-label>
            <div *ngFor="let child of permisos; let i = index" >
                <mat-checkbox [checked]="child.permiso" [(ngModel)]="child.permiso" [name]="i">
                    <mat-icon>{{child.icon}}</mat-icon>
                    {{child.text}}
                </mat-checkbox>
            </div>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()" cdkFocusInitial>Cancelar</button>
    <button mat-button [mat-dialog-close]="permisos">Guardar</button>
</div>