.funcerpi-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.funcerpi-is-mobile .funcerpi-toolbar {
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.funcerpi-app-name {
  margin-left: 8px;
}

.funcerpi-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.funcerpi-is-mobile .funcerpi-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.list-item {
  padding-top: 7px !important;
  transition: background-color 0.5s ease;
}

.user-menu {
  margin-left: auto;
}

.notifications {
  margin-left: auto;
}


.navbar-logo {
  // max-width: 100%;

  img {
    max-width: 100%;
  }
}

::ng-deep .mat-menu-panel.options-menu {
  padding: 8px 15px !important;
}

.active {
  background-color: rgba(0, 115, 255, 0.496) !important;
}

.mat-list-base {
  padding-top: 0% !important;
}

.mat-drawer {
  border: none !important;
}

.danger {
  color: #FF0000; 
}
