<div class="funcerpi-container" [class.funcerpi-is-mobile]="mobileQuery.matches">
    <mat-sidenav-container class="funcerpi-sidenav-container">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56" [opened]="!mobileQuery.matches" [style.width.%]="!mobileQuery.matches ? 15 : 80">
            <mat-toolbar color="primary" class="funcerpi-toolbar">
                <a class="navbar-logo">
                    <img src="./../../../../../assets/img/logo.png" alt="FUNCERPI logo">
                </a>
            </mat-toolbar>
            <mat-nav-list role="navigation" [disableRipple]="true">
                <a mat-list-item [routerLink]="nav.route" *ngFor="let nav of fillerNav"
                    (click)="selectedPage = nav.text" class="list-item" routerLinkActive="active">
                    <div class="col-4">
                        <p>
                            <mat-icon>{{nav.icon}}</mat-icon>
                        </p>
                    </div>
                    <div class="col-8">
                        <p>
                            <b>
                                {{nav.text}}
                            </b>
                        </p>
                    </div>
                </a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <mat-toolbar color="primary" class="funcerpi-toolbar">
                <button mat-button (click)="snav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <h1 class="funcerpi-app-name">{{selectedPage}}</h1>
                <div class="user-menu">
                    <button mat-icon-button [matMenuTriggerFor]="notifications">
                        <mat-icon [matBadge]="system_notifications.length" matBadgeColor="warn">
                            {{system_notifications.length ? 'notifications_active' : 'notifications'}}</mat-icon>
                    </button>
                    <mat-menu #notifications="matMenu" class="options-menu">
                        <div *ngIf="system_notifications.length">
                            <ng-container *ngFor="let notif of system_notifications;let i = index">
                                <p>{{notif}}</p>
                                <mat-divider *ngIf="i > 0"></mat-divider>
                            </ng-container>
                        </div>
                        <div *ngIf="!system_notifications.length">
                            <p>¡Sin notificaciones!</p>
                        </div>
                    </mat-menu>
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>account_circle</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" class="options-menu">
                        <p>{{user.nombre}}</p>
                        <button mat-menu-item (click)="logout()">Cerrar sesión</button>
                    </mat-menu>
                </div>
            </mat-toolbar>
            <div class="container-fluid" [style.marginTop.%]="mobileQuery.matches ? 20 : 0">
                <div class="row">
                    <div class="col-12 text-center">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>