<mat-card class="container-card">
    <app-tables [labels]="labels" [rows]="rows" (editClick)="onEdit($event)" (deleteClick)="onDelete($event)"
        [buttons]="true" [edit]="true" [delete]="true">
    </app-tables>
</mat-card>
<app-fab (onClick)="openDialog()"></app-fab>