/* You can add global styles to this file, and also import other style files */
/*--------------------
Import Google Fonts
--------------------*/

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

@font-face {
    font-family: 'sans-serif';
    src: url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

@font-face {
    font-family: 'Playfair Display';
    src: url(https://fonts.googleapis.com/css?family=Playfair+Display:400italic&subset=latin,latin-ext);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

*:focus {
    outline: none !important;
    border: 0 !important;
}