<h1 mat-dialog-title>{{!isEdditing ? 'Añadir nuevo' : 'Editar'}} Usuario</h1>
<div mat-dialog-content>
    <form [formGroup]="userForm">
        <div class="form-group">
            <mat-form-field class="col-12">
                <mat-label>Nombre(s)</mat-label>
                <input matInput type="text" formControlName="nombre">
                <mat-error *ngIf="userForm.get('nombre').hasError('required')">
                    Campo <strong>requerido</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="col-12">
                <mat-label>Apellido(s)</mat-label>
                <input matInput type="text" formControlName="apellido">
                <mat-error *ngIf="userForm.get('apellido').hasError('required')">
                    Campo <strong>requerido</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="col-12">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email">
                <mat-error *ngIf="userForm.get('email').hasError('required')">
                    Campo <strong>requerido</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="col-12">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" formControlName="password" defaultvalue="********">
                <mat-error *ngIf="userForm.get('password').hasError('required')">
                    Campo <strong>requerido</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="col-12">
                <mat-label>Tipo</mat-label>
                <mat-select formControlName="tipo">
                    <mat-option *ngFor="let type of user_types" [value]="type._id">{{type.nombre}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="userForm.get('tipo').hasError('required')">
                    Campo <strong>requerido</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Empresa</h3>
        <div class="form-group">
            <mat-form-field class="col-12">
                <mat-label>Nombre</mat-label>
                <input matInput type="text" formControlName="companyname">
                <mat-error *ngIf="userForm.get('companyname').hasError('required')">
                    Campo <strong>requerido</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="col-12">
                <mat-label>RFC</mat-label>
                <input matInput type="text" formControlName="rfc">
                <mat-error *ngIf="userForm.get('rfc').hasError('required')">
                    Campo <strong>requerido</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="col-12">
                <mat-label>Calle</mat-label>
                <input matInput type="text" formControlName="calle">
                <mat-error *ngIf="userForm.get('calle').hasError('required')">
                    Campo <strong>requerido</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="col-12">
                <mat-label>Colonia</mat-label>
                <input matInput type="text" formControlName="colonia">
                <mat-error *ngIf="userForm.get('colonia').hasError('required')">
                    Campo <strong>requerido</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="col-12">
                <mat-label>Código postal</mat-label>
                <input matInput type="number" formControlName="codigo_postal">
                <mat-error *ngIf="userForm.get('codigo_postal').hasError('required')">
                    Campo <strong>requerido</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="col-12">
                <mat-label>Teléfono</mat-label>
                <input matInput type="tel" formControlName="telefono">
                <mat-error *ngIf="userForm.get('telefono').hasError('required')">
                    Campo <strong>requerido</strong>
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()" cdkFocusInitial>Cancelar</button>
    <button mat-button [mat-dialog-close]="userForm">Guardar</button>
</div>