<app-landing-base titulo="Somos FUNCERPI">
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center">
                    <div class="section-title">
                        <h2>Acerca de FUNCERPI</h2>
                        <p>Somos una empresa dedicada la fabricación de tapones
                            de aluminio especiales para cercas o mallas de seguridad
                            los cuales estan hechos a base de un molde especifico para cada tapón
                            y esta cumpla su función dentro de la estructura de la cerca.
                            <br>
                            También somos una empresa que se preocupa por la calidad y
                            durabilidad de los mismos por lo que revisamos los productos
                            y hacemos las sufiecientes pruebas para que este sea eficiente.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img class="img-about" src="./../../../assets/img/about.jpg">
                </div>
            </div>
        </div>
    </section>
    <section id="mvv" class="light-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="row">
                        <div class="col-md-4" *ngFor="let card of cards">
                            <div class="team-item">
                                <div class="team-image">
                                    <img src="./../../../assets/img/{{card.image}}.png" class="img-responsive"
                                        [alt]="card.title">
                                </div>
                                <div class="team-text">
                                    <h3>{{card.title}}</h3>
                                    <ul class="lista">
                                        <li *ngFor="let cont of card.content">
                                            <p class="contenido_carta">{{cont}}</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <h2>Contáctanos</h2>
                        <p>
                        Si quieres conocer más sobre la empresa y nuestros servicios, no dudes en contactarnos, con gusto atenderemos tus inquietudes.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form name="sentMessage" id="contactForm" novalidate="">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nombre *" id="name" required=""
                                        data-validation-required-message="Por favor ingresa tu nombre.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email *" id="email"
                                        required=""
                                        data-validation-required-message="Por facor ingresa tu correo electrónico.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Mensaje *" id="message" required=""
                                        data-validation-required-message="Por favor escribe tu mensaje."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</app-landing-base>