// About
.light-bg {
  background-color: rgba(227, 227, 227, 0.3);
}

section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.section-title h2 {
  font-size: 34px;
  text-transform: uppercase;
}

.section-title p {
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
  margin: 20px 50px 60px 50px;
}

#about h3 {
  font-weight: 500;
  font-size: 17px;
  text-transform: uppercase;
  color: #3a3a3a;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

#about p {
  font-style: italic;;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #969696;
  text-align: justify;
}

.ot-circle {
  height: 95px;
  width: 95px;
  text-align: center;
  line-height: 98px;
  color: #3e3e3e;
  /* border: 3px solid #000; */
  border-radius: 100px;
  /* background-color: #E8E8E8; */
  margin: 0 2px 4px;
  font-size: 31px;
}

.img-about {
  border-radius: 5%;
  max-width: 100%;
}

.about-item {
  padding-right: 10%;
}

.team-item {
  text-align: center;
  background-color: #fff;
}

.team-item h3 {
  font-size: 16px;
  font-weight: 500;
}

.team-item .team-location {
  color: #c5c5c5;
  font-size: 13px;
  margin-bottom: 20px;
}

.team-item .team-location {
  color: #c5c5c5;
  font-size: 12px;
  margin-bottom: 20px;
}

.team-item .team-position {
  color: #000;
  font-size: 12px;
}

.team-item p {
  font-size: 13px;
  font-weight: 300;
  color: #9c9c9c;
  padding: 5px 10px 20px 10px;
}

.team-item img {
  max-height: 200px;
  max-width: 100%;
}

.contenido_carta {
  text-align: justify;
}

.lista {
  padding-left: 0%;
  list-style: none;
}
