<h1 mat-dialog-title>{{!isEdditing ? 'Añadir nuevo' : 'Editar'}} Cupón</h1>
<div mat-dialog-content>
    <form [formGroup]="cuponForm">
        <div class="form-group row">
            <mat-form-field class="col-12">
                <mat-label>Descripción</mat-label>
                <input matInput type="text" formControlName="descripcion">
                <mat-error *ngIf="cuponForm.get('descripcion').hasError('required')">
                    Campo <strong>requerido</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group row">
            <mat-form-field appearance="fill" class="col-12">
                <mat-label>Fecha de expiración</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="expiracion">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="form-group row">
            <mat-form-field class="col-lg-8 col-sm-12">
                <mat-label>Código</mat-label>
                <input matInput type="text" min="1" step="any" formControlName="codigo">
                <mat-error *ngIf="cuponForm.get('codigo').hasError('required')">
                    Campo <strong>requerido</strong>
                </mat-error>
            </mat-form-field>
            <div class="col-4"><button mat-raised-button color="primary" (click)="generarCodigo()">Generar código</button>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12">
                <mat-checkbox class="example-margin" formControlName="estado">Activo</mat-checkbox>
                <mat-error *ngIf="cuponForm.get('estado').hasError('required')">
                    Campo <strong>requerido</strong>
                </mat-error>
            </div>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()" cdkFocusInitial>Cancelar</button>
    <button mat-button [mat-dialog-close]="cuponForm">Guardar</button>
</div>