::ng-deep .mat-card-header-text {
  width: 100%;
}
::ng-deep .mat-form-field-ripple {
  background-color: #d6581d;
}
::ng-deep .mat-form-field-ripple:active {
  background-color: #e74c04;
}
.example-card {
    max-width: 300px;
    border: solid;
    border-radius: 15px;
    margin-left: 30px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
  }
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.titulo{
  color: rgb(8, 8, 8);
  width: 100%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
.descripcion{
  color: rgb(94, 93, 93);
  width: 100%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 100%;
}
.imagen {
  width: 100%;
  margin-left: 1px;
    border-radius: 15px;

    transition: all 500ms ease;
    cursor: url('./../../../../assets/img/cursor_zoom.png'), auto;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
}
.float .number{
  position: fixed;
  width: 30px;
  height: 30px;
  bottom: 40px;
  right: -5px;
  background-color: #d65b21;
  border-radius: 25px;
}
.imagen:active{
    transform: scale(1.8);
    z-index: 10;
    position:absolute
}
.button_add{
  background-color: #d65b21;
  width:40px;
	height:40px;
  color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}
.button_add:hover{
  background-color: #943509;
}
.button_shopping{
  background-color: #c7960f;
  width:60px;
	height:60px;
  color:#FFF;
	border-radius:50px;
	text-align:center;
  -webkit-box-shadow: 10px 10px 10px -8px rgba(0,0,0,0.58);
  -moz-box-shadow: 10px 10px 10px -8px rgba(0,0,0,0.58);
  box-shadow: 10px 10px 10px -8px rgba(0,0,0,0.58);
}
.button-container {
  display: flex;
  justify-content: center;
  width: 120px;
  padding-top: 5px;
}

.product-card {
  margin: 25px 0 25px 0;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.6);
-moz-box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.6);
box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.6);

}