<app-landing-base titulo="Productos" fondo="./../../../../assets/img/fabrica.jpg">
  
  <div class="container" >
    <div class="row float">
        <button mat-mini-fab aria-label="Añadir al carrito" class="button_shopping" (click)="navigateShoppingCar();">
          <mat-icon>shopping_cart    
          </mat-icon>
          <div class="number">
            <div class="row h-100">
              <div class="col-sm-12 my-auto">
               {{shoppingList.length}}
              </div>
            </div>
          </div>
        </button>
      
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" *ngFor="let producto of productos; let i=index">
        <mat-card class="product-card">
         
          <img mat-card-image class="imagen" style="margin-top: 16px; border-radius: 5px;" [src]="producto.img ? SERVER_URL + producto.img : './../../../../assets/img/no-image.png'"
            alt="Imágen de producto">
            
            <mat-card-header >
               <mat-card-title class="titulo">
                <div class="row h-100">
                  <div class="col-sm-12 my-auto">
                    {{producto.nombre}}
                  </div>
              </div>
            </mat-card-title>
            </mat-card-header>
            <mat-card-header >
              <mat-card-title class="descripcion">
               <div class="row h-100">
                 <div class="col-sm-12 my-auto">
                   {{producto.descripcion}}
                 </div>
             </div>
           </mat-card-title>
           </mat-card-header>
          <mat-card-content style="display : flex; padding-left: 1.5rem;">

            <mat-form-field appearance="fill">
              <mat-label>Medidas</mat-label>
              <input matInput [(ngModel)]="sizeProduct[i]">
          </mat-form-field>
            <div class="button-container">
              <button mat-mini-fab aria-label="Añadir al carrito" class="button_add" (click)="addToShoppingList(i)">
                <mat-icon >add_shopping_cart</mat-icon>
              </button>
            </div>
          </mat-card-content>
          <mat-card-actions>
           
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
 
  
 
</app-landing-base>