.fullscreen {
  background: url("./../../../../assets/img/large-bg-2.jpg");
  background-size: cover;
  background-attachment: fixed;
  position: fixed;
  width: 100%;
  height: 100%;
}
* {
  box-sizing: border-box;
}

.contenedor {
  width: 100%;
  padding: 15px;
}

.formulario {
  background-color: white;
  margin-top: 150px;
  padding: 3px;
}
h1 {
  text-align: center;
  color: #1a2537;
  font-size: 40px;
  padding-top: 5px;
}
input[type="text"],
input[type="password"] {
  font-size: 20px;
  width: 89%;
  padding: 10px;
  border: none;
}
.input-contenedor {
  margin-bottom: 15px;
  border: 1px solid #aaa;
  border-radius: 10px;
}

.icon-container {
  align-items: center;
  display: inline-flex;
  height: 100%;
  justify-content: center;
  min-width: 35px;
  vertical-align: text-bottom;
}

.icon {
  color: #999999;
}

.boton {
  border: none;
  width: 100%;
  color: white;
  font-size: 20px;
  background: #1a2537;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.boton:hover {
  background: cadetblue;
}

@media (min-width: 768px) {
  .formulario {
    margin: auto;
    width: 500px;
    margin-top: 100px;
    border-radius: 2%;
  }
}

p {
  text-align: center;
}
.link {
  text-decoration: none;
  color: #1a2537;
  font-weight: 600;
}

.link:hover {
  color: cadetblue;
}

.logo-container {
  display: flex;
  justify-content: center;
  padding: 25px 0px;
}

.logo {
  min-width: 65%;
  cursor: pointer;
}
