<div class="fullscreen">
    <form (ngSubmit)="login()" [formGroup]="loginForm" class="formulario">
        <div class="logo-container">
            <img class="logo" src="./../../../../assets/img/logo.png" alt="Logo FUNCERPI" routerLink="/">
        </div>
        <div class="contenedor">
            <div class="input-contenedor">
                <div class="icon-container">
                    <mat-icon class="icon">face</mat-icon>
                </div>
                <input type="text" name="email" id="email" formControlName="email" placeholder="Email:">
            </div>
            <span class="text-danger"
                *ngIf="(loginForm.get('email').touched || submitted) && loginForm.get('email').errors?.email">
                El email es incorrecto
            </span>
            <span class="text-danger"
                *ngIf="(loginForm.get('email').touched || submitted) && loginForm.get('email').errors?.required">
                El email es obligatorio
            </span>
            <div class="input-contenedor">
                <div class="icon-container">
                    <mat-icon class="icon">lock_open</mat-icon>
                </div>
                <input type="password" name="password" id="password" formControlName="password"
                    placeholder="Contraseña:">
            </div>
            <span class="text-danger"
                *ngIf="(loginForm.get('password').touched || submitted) && loginForm.get('password').errors?.required">
                La contraseña es obligatoria
            </span>
            <span class="text-danger"
                *ngIf="(loginForm.get('password').touched || submitted) && loginForm.get('password').errors?.minlength">
                La contraseña es demasiado corta
            </span>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="remember" formControlName="remember"> Recordar
                    usuario y contraseña
                </label>
            </div>
            <div>
                <button type="submit" class="boton" [disabled]="!loginForm.valid">
                    Iniciar Sesión
                </button>
            </div>
            <br>
            <p>¿No tienes cuenta Funcerpi? <a (click)="abrirRegistro()" class="link">Registrate</a></p>
        </div>
    </form>
</div>