.report-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

.full-width {
  width: 100%;
  max-width: 100%;
  transition: max-width 0.5s;
}

.shrinked {
  max-width: 70%;
}

.filters {
  visibility: hidden;
  transition: width 0.3s, visibility 0.3s ;
  max-width: 0%;
  width: 0%;
}

.show {
  visibility: visible;
  transition: width 0.3s;
  max-width: 30%;
  width: 30%;
}
