<mat-card>
    <div class="col-12">
        <mat-tab-group>
            <mat-tab label="Tipos de usuario">
                <app-usertypes></app-usertypes>
            </mat-tab>
            <mat-tab label="Usuarios">
                <app-users></app-users>
            </mat-tab>
        </mat-tab-group>
    </div>
</mat-card>