<mat-tab-group mat-stretch-tabs>
    <mat-tab label="Pendientes">
        <app-pendientes></app-pendientes>
    </mat-tab>
    <mat-tab label="Gráficas">
        <app-graficas></app-graficas>
    </mat-tab>
    <mat-tab label="Tablas">
        <app-tablas></app-tablas>
    </mat-tab>
</mat-tab-group>