<h1 mat-dialog-title>{{titulo}}</h1>
<div mat-dialog-content>
    <div class="container">
        <form [formGroup]="registroForm">
            <div class="form-group">
                <label form="companyname">Nombre de la Empresa:</label>
                <input type="text" name="companyname" class="form-control" placeholder="Escriba el Nombre de la Empresa"
                    id="companyname" formControlName="companyname" />
                <span class="text-danger"
                    *ngIf="(registroForm.get('companyname').touched || submitted) && registroForm.get('companyname').errors?.required">
                    Por favor, completa el campo.</span>
            </div>

            <div class="form-group">
                <label form="nombre">Nombre:</label>
                <input type="text" name="nombre" class="form-control" placeholder="Escriba su Nombre" id="nombre"
                    formControlName="nombre" />
                <span class="text-danger"
                    *ngIf="(registroForm.get('nombre').touched || submitted) && registroForm.get('nombre').errors?.required">
                    Por favor, completa el campo.</span>
            </div>

            <div class="form-group">
                <label form="lastname">Apellidos:</label>
                <input type="text" name="lastname" class="form-control" placeholder="Escriba sus Apellidos"
                    id="lastname" formControlName="apellido" />
                <span class="text-danger"
                    *ngIf="(registroForm.get('apellido').touched || submitted) && registroForm.get('apellido').errors?.required">
                    Por favor, completa el campo.</span>
            </div>

            <div class="form-group">
                <label form="RFC">RFC:</label>
                <input type="text" name="RFC" class="form-control" placeholder="Escriba su RFC" id="RFC"
                    formControlName="rfc" />
                <span class="text-danger"
                    *ngIf="(registroForm.get('rfc').touched || submitted) && registroForm.get('rfc').errors?.required">
                    Por favor, completa el campo.</span>
                <span class="text-danger"
                    *ngIf="(registroForm.get('rfc').touched || submitted) && registroForm.get('rfc').errors?.minlength">
                    El RFC es demasiado corto.</span>
                <span class="text-danger"
                    *ngIf="(registroForm.get('rfc').touched || submitted) && registroForm.get('rfc').errors?.maxlength">
                    El RFC es demasiado largo.</span>
            </div>

            <div class="form-group">
                <label form="calle">Calle:</label>
                <input type="text" name="calle" class="form-control" placeholder="Escriba la calle de la Empresa"
                    id="calle" formControlName="calle" />
                <span class="text-danger"
                    *ngIf="(registroForm.get('calle').touched || submitted) && registroForm.get('calle').errors?.required">
                    Por favor, completa el campo.</span>
            </div>

            <div class="form-group">
                <label form="colonia">Colonia:</label>
                <input type="text" name="colonia" class="form-control" placeholder="Escriba la colonia de la Empresa"
                    id="colonia" formControlName="colonia" />
                <span class="text-danger"
                    *ngIf="(registroForm.get('colonia').touched || submitted) && registroForm.get('colonia').errors?.required">
                    Por favor, completa el campo.</span>
            </div>

            <div class="form-group">
                <label form="postalCode">Código Postal:</label>
                <input type="number" name="postalCode" class="form-control" placeholder="Escriba su código postal:"
                    id="postalCode" formControlName="codigo_postal" />
                <span class="text-danger"
                    *ngIf="(registroForm.get('codigo_postal').touched || submitted) && registroForm.get('codigo_postal').errors?.required">
                    Por favor, completa el campo.</span>
            </div>

            <div class="form-group">
                <label form="phone">Telefono:</label>
                <input type="tel" name="phone" class="form-control" placeholder="Escriba su Telefono" id="phone"
                    formControlName="telefono" />
                <span class="text-danger"
                    *ngIf="(registroForm.get('telefono').touched || submitted) && registroForm.get('telefono').errors?.required">
                    Por favor, completa el campo.</span>
            </div>

            <div class="form-group">
                <label form="email">Correo Electronico:</label>
                <input type="email" name="email" class="form-control" placeholder="Escriba su Corero Electronico"
                    id="email" formControlName="email" />
                <span class="text-danger"
                    *ngIf="(registroForm.get('email').touched || submitted) && registroForm.get('email').errors?.required">
                    Por favor, completa el campo.</span>
                <span class="text-danger"
                    *ngIf="(registroForm.get('email').touched || submitted) && registroForm.get('email').errors?.email">
                    Email inválido.</span>
            </div>

            <div class="form-group">
                <label form="password">Contraseña:</label>
                <input type="password" name="password" class="form-control" placeholder="Escriba su Contraseña"
                    id="password" formControlName="password" />
                <span class="text-danger"
                    *ngIf="(registroForm.get('password').touched || submitted) && registroForm.get('password').errors?.required">
                    Por favor, completa el campo.</span>
                <span class="text-danger"
                    *ngIf="(registroForm.get('password').touched || submitted) && registroForm.get('password').errors?.minlength">
                    La contraseña debe ser de, al menos, 6 caractéres.</span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="tycs" formControlName="tycs"> Acepto Términos
                    y Condiciones.
                </label>
                <span class="text-danger"
                    *ngIf="(registroForm.get('password').touched || submitted) && registroForm.get('password').errors?.required || (submitted &&  !registroForm.get('tycs').value)">
                    Es necesario aceptar los términos y condiciones para continuar.</span>
            </div>
        </form>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="cerrarDialogo()" cdkFocusInitial>Cerrar</button>
    <button mat-button (click)="confirmado()" class="btn btn-success">Guardar</button>
</div>