<div class="container">
    <div class="row">
        <div class="col-12">
            <ngx-charts-bar-vertical [scheme]="colorScheme" [results]="single"
                [gradient]="opcionesGraficaPedidosMensuales.gradient"
                [xAxis]="opcionesGraficaPedidosMensuales.showXAxis" [yAxis]="opcionesGraficaPedidosMensuales.showYAxis"
                [legend]="opcionesGraficaPedidosMensuales.showLegend"
                [showXAxisLabel]="opcionesGraficaPedidosMensuales.showXAxisLabel"
                [showYAxisLabel]="opcionesGraficaPedidosMensuales.showYAxisLabel"
                [xAxisLabel]="opcionesGraficaPedidosMensuales.xAxisLabel"
                [yAxisLabel]="opcionesGraficaPedidosMensuales.yAxisLabel" (select)="onSelect($event)">
            </ngx-charts-bar-vertical>
        </div>
    </div>
</div>