<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light transparent" id="navbar">
    <a class="navbar-brand page-scroll" href="#page-top"><img id="logo" src="./../../../assets/img/{{logo}}.png"
            alt="FUNCERPI logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
        (click)="showOptions()">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav navbar-right " style="width:100%">
            <li class="nav-item active">
                <a class="nav-link" href="/#">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#about">Acerca de nosotros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#contact">Contacto</a>
            </li>
            <li class="nav-item">
                <a routerLink="/catalogo" class="nav-link">Catalogo</a>
            </li>
            <li class="nav-item ml-auto">
                <a routerLink="/login" class="nav-link">Iniciar sesión</a>
            </li>
        </ul>
    </div>
</nav>
<header class="header" [ngStyle]="{'background-image': 'url(' + fondo + ')'}">
    <div class="container">
        <div class="slider-container">
            <div class="intro-text">
                <!-- <div class="intro-lead-in">Welcome To Our Studio!</div> -->
                <div class="intro-heading">
                    <b>
                        {{titulo}}
                    </b>
                </div>
            </div>
        </div>
    </div>
</header>
<ng-content></ng-content>
<footer>
    <div class="container text-center">
        <p>Fundidora FUNCERPI
            <script>document.write(new Date().getFullYear())</script>
        </p>
    </div>
</footer>