// NavBar
.navbar li a {
  color: #fff !important;
}

.scrolled {
  background-color: whitesmoke !important;
  li a {
    color: #000 !important;
  }
  transition: background-color 0.3s ease, color 0.3s ease;
}

.transparent {
  background: transparent !important;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#logo {
  transition: all 0.3s ease-in-out;
}

.navbar-toggler {
  background-color: whitesmoke !important;
  border: none;
}

a:hover,
a:focus,
a:active,
a.active {
  color: #8c8c8c;
}

.navbar .nav li a {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: #000;
}
// Header
.light-bg {
  background-color: rgba(227, 227, 227, 0.3);
}

.header {
  background: url(./../../../../assets/img/large-bg-2.jpg) no-repeat center;
  min-height: 50vh;
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: #fff;
}

header .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
}

@media (min-width: 768px) {
  header .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
}

header .intro-text .intro-lead-in {
  font-family: "Playfair Display", sans-serif;
  font-style: italic;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  header .intro-text .intro-lead-in {
    font-family: "Playfair Display", sans-serif;
    font-style: italic;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
  }
}

header .intro-text .intro-heading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  header .intro-text .intro-heading {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
  }
}

// Footer
footer {
  padding: 30px;
  background-color: #000;
}

footer p {
  color: #b7b7b7;
  margin: 0;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.6px;
}

footer p a {
  color: #fff;
}

footer p a span {
  color: #ff9f46;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 700;
}

.section-title h2 {
  font-size: 34px;
  text-transform: uppercase;
}

.section-title p {
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
  margin: 20px 50px 60px 50px;
}
